<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="mapFragment">

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a3c604898245de14499182b5bd3b6f32&libraries=services"></script>

    <script>
        // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
        var infowindow = new kakao.maps.InfoWindow({zIndex:1});

        var Lon = [];

        function Getloc() {
            $.ajax({
                url: "/loc_location",
                data: {
                    pharmname: $("#name").serialize(),
                    pharmadr: $("#adr").serialize(),
                    pharmtell: $("#tell").serialize(),
                    wgs84Lat: $("#wgs84Lat").serialize(),
                    wgs84Lon: $("#wgs84Lon").serialize(),
                    open_time: $("#dutyTime2s").serialize(),
                    close_time: $("#dutyTIme2c").serialize()
                },
                type: "get",
                dataType: "json",
                async: false,
                success: function (data) {
                    var result = data.json;
                    $.each(result, function (idx, val){
                        console.log(idx + " " + val.wgs84Lat);
                    });
                    Lon.push(data);
                },
                error: function () {
                    alert("error");
                }
            });
        }

        Getloc();
        console.log(Lon); //>> Lon에 값이 잘 들어갔나 확인.
        //console.log(Object.keys(Lon)) >> Lon의 Object값 확인.
        //console.log(Lon["0"][1].lat) >> lat을 사용하기 위해서는 저렇게 사용.

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.4584337386584000, 126.6898271889470000), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        if (navigator.geolocation) {

            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function (position) {

                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도

                var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                //message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다

                // 마커와 인포윈도우를 표시합니다
                displayMarker(locPosition);

            });

        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

            var locPosition = new kakao.maps.LatLng(37.458433738658400000000000000000, 126.689827188947000000000000000000),
                message = 'geolocation을 사용할수 없어요..'

            displayMarker(locPosition,message);
        }

        // 지도에 마커와 인포윈도우를 표시하는 함수입니다
        function displayMarker(locPosition) {

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: locPosition
            });

            // 지도 중심좌표를 접속위치로 변경합니다
            map.setCenter(locPosition);

            var PharmPositions = new Array();
            for (var idx = 0; idx < 22953; idx++) {
                var data_lat = Lon["0"][idx].lat;
                var data_lng = Lon["0"][idx].lon;
                PharmPositions.push(new kakao.maps.LatLng(data_lat, data_lng));
            }

            var PharmTitle = new Array();
            for (var idx = 0; idx < 22953; idx++) {
                var data_name = Lon["0"][idx].name;
                PharmTitle.push(data_name);
            }

            var PharmAdr = new Array();
            for (var idx = 0; idx < 22953; idx++){
                var data_adr = Lon["0"][idx].adr;
                PharmAdr.push(data_adr);
            }

            var PharmTell = new Array();
            for(var idx = 0; idx < 22953; idx++){
                var data_tell = Lon["0"][idx].tell;
                PharmTell.push(data_tell);
            }

            var PharmOTime = new Array();
            for(var idx = 0; idx < 22953; idx++){
                var data_otime = Lon["0"][idx].opentime;
                var data_otimeh = data_otime.substr(0,1);
                var data_otimet = data_otime.substr(1,2);
                var data_opentime = data_otimeh + ' : ' +  data_otimet;
                PharmOTime.push(data_opentime);
            }


            var PharmCTime = new Array();
            for(var idx = 0; idx < 22953; idx++){
                var data_ctime = Lon["0"][idx].closetime;
                var data_ctimeh = data_ctime.substr(0,2);
                var data_ctimet = data_ctime.substr(2,2);
                var data_closetime = data_ctimeh + ' : ' + data_ctimet;
                PharmCTime.push(data_closetime);
            }

            console.log(Lon);

            navigator.geolocation.getCurrentPosition(function (position) {
                var pluslat = position.coords.latitude+0.01;
                var pluslon = position.coords.longitude+0.01;
                var minlat = position.coords.latitude-0.01;
                var minlon = position.coords.longitude-0.01;

                var content = [];

                // 마커 이미지의 이미지 주소입니다
                var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
                //console.log(Lon["0"][1].lat);
                for (var i = 0; i < PharmPositions.length; i++) {

                    if(minlat < Lon["0"][i].lat &&Lon["0"][i].lat < pluslat && minlon < Lon["0"][i].lon &&Lon["0"][i].lon < pluslon) {

                        var rposition = new kakao.maps.LatLng(Lon["0"][i].lat, Lon["0"][i].lon)
                        var imageSize = new kakao.maps.Size(24, 35);
                        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
                        // 마커를 생성합니다
                        var markers = new kakao.maps.Marker({
                            map: map, // 마커를 표시할 지도
                            position: rposition, // 마커를 표시할 위치
                            title: PharmTitle[i], // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                            image: markerImage, // 마커 이미지

                        });

                        content[i] = '<div class="wrap">'+
                            '    <div class="info">' +
                            '        <div class="title">' +
                            PharmTitle[i] +
                            '        </div>' +
                            '        <div class="body">' +
                            '            <div class="desc">' +
                            '                <div class="ellipsis">'+ PharmAdr[i] +'</div>' +
                            '                <div class="jibun ellipsis">'+ PharmTell[i] +'</div>' +
                            '                <div class="jibun ellipsis">'+ 'openTime : ' + PharmOTime[i] +'</div>' +
                            '                <div class="jibun ellipsis">'+ 'closeTime : ' + PharmCTime[i] +'</div>' +
                            '            </div>' +
                            '        </div>' +
                            '    </div>' +
                            '</div>';

                        // 마커 위에 커스텀오버레이를 표시합니다
                        // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다

                        var lay = new kakao.maps.CustomOverlay({
                            content: content[i],
                            map: map,
                            position: rposition
                        });

                        lay.setMap(null);

                        kakao.maps.event.addListener(
                            markers,
                            "mouseover",
                            makeOverListener(map, markers, lay)
                        );
                        kakao.maps.event.addListener(
                            markers,
                            "mouseout",
                            makeOutListener(lay)
                        );

                        function makeOverListener(map, markers, lay) {
                            return function () {
                                lay.setMap(map, markers);
                            };
                        }

                        // 인포윈도우를 닫는 클로저를 만드는 함수입니다
                        function makeOutListener(lay) {
                            return function () {
                                lay.setMap(null);
                            };
                        }


                    }

                }


            });

        }

    </script>

</th:block>
</html>