<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/01_link :: linkFragment"></th:block>


<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>


    <div class="py-4">
        <div class="container">
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="title-section text-center col-12">
                    <h2>주문 알림<strong>✔</strong></h2>
                </div>
            </div>

            <div class="site-section  overlay" style="max-height: 1000px; background-color: white; padding:40px 20px; overflow:scroll; overflow-x:hidden">

                <div class="container">
                    <div class=" form-group row" style="margin-bottom:20px; padding:20px; border:3px solid #75b239;">
                        <div>
                            <image src="images/person_2.jpg" width="200px" height="200px"></image>
                        </div>

                        <div style="padding-left: 100px;">
                            <form name="pdeliverform" action="#" method="post">
                                <h4 class="text-black"><b th:text="${ono}"></b></h4>
                            <br>
                                <p class="text-black" th:text="${oid}"></p>
                                <p class="text-black" th:text="${oname}"></p>
                                <p class="text-black" th:text="${ophone}"></p>
                                <p class="text-black" th:text="${oadr1 +' '+ odar2}"></p>
                                <p class="text-black" th:text="${oprod}">주문내역 <br> - 그날엔 X 1 <br> - 락토핏 X 2 </p>
                            <div class="form-group">
                                <label for="p_order_note2" class="text-black">약사의 한 마디</label>
                                <textarea name="p_order_note2" id="p_order_note2" cols="80" rows="5"
                                          class="form-control"
                                          placeholder="환자에게 전할 말이 있으시면 작성해주세요."></textarea>
                            </div>
                            <div class="form-group row" style="float: right">
                                <div class="col-lg-6">
                                    <input type="button" id="deliveryBtn"  class="btn btn-primary btn-lg btn-block" value="Yes">
                                </div>
                                <div class="col-lg-6">
                                    <input type="button" class="btn btn-primary btn-lg btn-block" value="No">
                                </div>
                            </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>