<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/01_link :: linkFragment"></th:block>

<style>
    h4{
        color: #75b239;
    }
    p{
        color:#000000;
    }
</style>

<body>

<div class="site-wrap">


    <th:block th:replace="layout/02_header :: headerFragment"></th:block>

    <div class="bg-light py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Tips</strong></div>
            </div>
        </div>
    </div>

    <br>


    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2><strong class="text-primary">약과 함께 섭취하면 안되는 음식🍫</strong></h2>
            </div>
        </div>
    </div>

    <br>


    <div class="container">
        <div class="row">
            <div class="p-3 p-lg-5 border">
                <br>
                <div>
                    <h4>감기약, 진통제 + 초콜릿</h4>
                    <p>감기약이나 진통제에는 이미 카페인 성분이 함유되어 있다. 그렇기 때문에 초콜릿이나 커피, 콜라, 코코아, 에너지 드링크 등 카페인이 다량 함유된 식품과 함께 먹게 되면 카페인을 필요치 이상으로 체내에 들어와 카페인 과잉 작용이 나타난다. 구토 증상이나 메스꺼움, 불안, 불면증, 가슴 두근거림 등의 부작용이 나타날 수 있으니 약을 먹을 때나 먹기 전, 후로도 섭취하지 않는 것이 좋다.</p>
                    <br>
                    <h4>빈혈약, 비타민제 + 녹차, 홍차</h4>
                    <p>녹차나 홍차에 주로 들어 있는 타닌 성분은 항 산화작용이 뛰어나지만 빈혈약이나 비타민제와 먹을 때에는 오히려 반대다. 빈혈약에는 철분이 많이 함유되어 있는데 녹차나 홍차 혹은 잎 차의 주성분 타닌이 철분을 산화시켜 버려 우리 몸에서 흡수되지 못 하고 바로 배설이 되어 약효가 떨어진다. 때문에 빈혈약이나 비타민제를 먹을 때에는 녹차 대신 그냥 물을 마시는 것이 좋다</p>
                    <br>
                    <h4>변비약, 항생제 + 우유</h4>
                    <p>변비약과 항생제는 대장으로 가는 동안 약효가 떨어지지 않도록 겉면에 코팅이 되어 있는데 알칼리성인 우유가 이 보호막을 손상시켜 장에서 녹아야 하는 녹이 위에서 녹아버려 약효가 떨어진다. 위에 무리가 되면 위경련을 일으킬 수 있으므로 주의해야 한다. 우유뿐 만 아니라 요구르트나 요거트, 치즈 등 유제품도 함께 주의하는 것이 좋다.</p>
                    <br>
                    <h4>칼슘 보충제 + 커피</h4>
                    <p>커피나 초콜릿, 콜라 등 카페인이 함유된 식품은 칼슘의 배출을 증가시키는 역할을 하기 때문에 칼슘을 보충하기 위해 먹는 제품과는 절대 같이 먹어서는 안 된다. 체내에서 다 배출이 되다 보니 먹어도 말짱 도루묵인 셈. 칼슘의 체내 흡수를 조금 더 높이기 위해서는 닭 가슴살, 계란 흰자, 단백질 파우더 등 단백질 함유 식품이나 비타민 D와 함께 먹는 것이 효율적이다.</p>
                    <br>
                    <h4>고혈압 약 + 바나나, 오렌지(칼륨 식품)</h4>
                    <p>바나나 자체로는 고혈압 환자에게 좋지만 이뇨제나 고혈압 약을 복용 중이라면 얘기는 달라진다. 고혈압 약에는 칼륨 배출을 억제하는 성분이 들어있는데 오렌지, 자몽과 같은 산성 과일과 바나나 같은 칼륨 함유량이 많은 식품을 많이 먹게 되면 체내 칼륨 농도가 확 높아져 근육에 힘이 빠지고 심박수 증가, 근육통, 오한이나 구토, 설사 증상을 동반할 수 있다. 때문에 2시간에서 24시간 정도 시간 차이를 두고 먹는 것이 좋다.</p>
                    <br>
                    <h4>피임약 + 인삼</h4>
                    <p>단순히 피임의 목적 때문이 아니라 생리불순이나 부정출혈에 대한 예방, 생리통 및 생리 전 증후군 등 다양한 여성 건강 치료 효과와 피부 질환 치료에도 효과가 있어 주기적으로 피임약을 복용하고 있는 여성들이 늘어나고 있다. 피임약은 여성 호르몬인 에스트로겐과 합성 프로게스테론을 함유한 여성 호르몬 복합제로 인삼과 같이 에스트로겐 분비를 촉진시키는 식품을 먹게 되면 필요 이상의 에스트로겐이 생성되면서 유방암의 원인이 될 수도 있으므로 주기적 피임약 복용을 하고 있다면 인삼 섭취는 중지해야 한다.</p>
                    <br>
                    <h4>제산제 + 오렌지</h4>
                    <p>제산제는 위액 분비가 많거나 위산이 역류하여 위에 염증이나 자극이 생겨 속이 쓰리고 소화가 잘 되지 않을 때 먹으면 빠르게 진정시켜 주는 효과를 주기 때문에 과음한 다음 날이나 맵고 짠 음식을 먹어 속이 쓰릴 때에는 제산제를 많이 찾게 된다. 위액 분비를 억제하고 위산을 중화시키기 때문. 하지만 이때 오렌지나 오렌지 주스 등 산성의 식품과 만나게 되면 제산제와 포함된 알루미늄 성분이 그대로 체내에 흡수가 되고 효과 역시 떨어질 수 있다.</p>
                    <br>
                    <h4>수면제 + 술</h4>
                    <p>불면증으로 고생하는 사람들이 자주 찾는 것은 수면제나 술이다. 그런데 만약 이 둘을 함께 먹는다면 세상과 영원히 작별할 각오를 해야 한다. 이처럼 수면제와 술을 함께 복용하는 것은 매우 위험한 일. 중추신경계를 억제시켜 호흡마비가 올 수 있다. 때문에 수면제와 술은 최소 8시간 정도 차이를 두고 복용해야 한다. 오랜 기간 수면제 사용 시 의존도가 높아지는 부작용이 생길 수 있으니 적절한 수면 장애 검사와 치료를 받는 것이 좋다.</p>
                    <br>
                    <h4>천식약 + 커피</h4>
                    <p>폐 속의 기관지가 좁아져 숨이 차고 기침을 하게 되는 천식은 대게 알레르기 염증 반응으로 나타나기 때문에 약물치료를 병행하게 되는데 천식약은 폐 근육을 이완시켜 좀 더 편안하게 숨을 쉴 수 있게 도와주는데 카페인이 함유된 커피는 이런 작용을 방해하여 약효가 현저하게 감소하고 두통이나 현기증을 일으키면서 심장에 부담을 줄 수도 있다.</p>
                    <br>
                    <h4>항우울제 + 치즈</h4>
                    <p>우울증 치료제로 쓰이는 MAO 억제제를 복용할 때에는 치즈나 훈제연어, 햄, 등 푸른 생선과 같은 식품을 먹지 않는 것이 좋다. 이런 식품에는 티라민이라는 성분이 들어 있는데 흥분을 일으키는 아드레날린을 방출하면서 신경과 혈관을 자극하기 때문. 즉 항 우울제는 티라민의 분해를 방해해 체내 티라민 양을 증가시켜 체내에서 충돌 시킨다. 이럴 경우 두통이나 알레르기, 급성 고혈압 등이 나타날 수 있다.</p>
                </div>
            </div>
        </div>
    </div>


    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>