<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/01_link :: linkFragment"></th:block>

<style>
    h4{
        color: #75b239;
    }
    p{
        color:#000000;
    }
</style>

<body>

<div class="site-wrap">


    <th:block th:replace="layout/02_header :: headerFragment"></th:block>

    <div class="bg-light py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Tips</strong></div>
            </div>
        </div>
    </div>

    <br>


    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2><strong class="text-primary">약 복용법🏥</strong></h2>
            </div>
        </div>
    </div>

    <br>


    <div class="container">
        <div class="row">
            <div class="p-3 p-lg-5 border">
                <h4>약의 복용량</h4>
                <p>복용할 약의 양은 환자의 나이, 체중, 질병의 정도에 따라 의사나 약사가 복용할 양을 결정합니다. 따라서 마음대로 약품량을 환자가 가감하거나, 약간 나았다고 생각해서 복용을 도중에 중지한다든 지 하지 말고 지시된 양을 지시된 기간만큼 확실하게 복용해야 합니다.</p>
                <br>
                <h4>약의 보관</h4>
                <p>1. 습기, 고온, 직사광선을 피해서 보관합니다.</p>
                <p>2. 사용하는 도중 다른 용기에 약품을 옮길 경우 잘못 사용될 수 있으므로 용기를 바꾸지 않아야 합니다.</p>
                <p>3. 어린이의 손이 닿지 않는 안전한 곳에 보관해야 합니다.</p>
                <p>4. 약품사용 설명서나 약사가 냉장 보관할 것을 지시하면 그대로 하여야 합니다.</p>
                <p>5. 조제한지 오래된 약은 부작용이나 사고의 원인이 될 수 있으므로 반드시 버려야 합니다.</p>
                <p>6. 환자가 먹다 남긴 약을 다른 이가 먹어서는 안됩니다.</p>
                <p>7. 지시한 약은 반드시 다 먹어야 하며, 만에 하나 먹다 남긴 약이 있다면 반드시 버려야 합니다.</p>
                <br>
                <h4>약의 보관용기 종류</h4>
                <p>1. 밀폐용기(密閉容器) : 고체형태의 이물질이 들어가는 것을 방지하고 내용의약품이 손실되지 않도록 보호할 수 있는 용기. (예)과립제, 산제(가루약), 정제, 좌제, 캅셀제, 트로키제, 환제</p>
                <p>2. 기밀용기(氣密容器) : 액체상태, 고체형태 및 수분이 침입하지 않고, 내용의약품을 손실, 풍화, 조해, 증발로부터 보호할 수 있는 용기. 기밀용기는 밀폐용기로도 사용할 수 있다. (예)과립제, 로오숀제, 산제(가루약), 시럽제, 안연고제, 액제, 엑기스제, 엘릭실제, 연고제, 점안제, 정제, 좌제, 카타플라스마제, 캅셀제, 트로키제, 환제</p>
                <p>3. 밀봉용기(密封容器) : 기체 또는 미생물의 침입을 방지할 수 있는 용기. (예)주사제</p>
                <p>4. 차광용기(遮光容器) : 광선의 투과를 방지하거나 광선의 투과를 방지하는 포장을 한 용기. 광선 (자외선)에 약품이 손상 또는 변질되는 것을 방지하기 위해 자외선 차단 목적으로 병 색깔을 갈색으로 한 용기.</p>
                <p>5. 차광기밀용기 : 마시는, 액제 우황청심원의 병처럼 갈색으로 되어 있으면서 차광용기와 기밀용기 의 특징을 동시에 갖는 용기</p>
                <p>6. 차광밀봉용기 : 갈색 앰플로 된 주사약</p>
                <br>
                <h4>약의 복용시간과 그 종류</h4>
                <p>복용시간은 정확히 지키고 또 약은 충분한 물과 함께 복용합니다. 더러 물을 너무 적게 먹는 것이 원인이 되어 원하지 않는 부작용(예:식도궤양)이 생기는 경우가 있으니 주의해야 합니다.
                    의약품의 복용시간 준수는 약물의 인체내 흡수 및 이에 따른 치료율 향상과 큰 연관관계가 있으므로 반드시 의사, 약사의 지시에 따라 복용하여야 합니다. 따라서 환자 스스로 개개 의약품의 복용시간대에 대해 구체적으로 알 필요는 없으며 의사,약사가 지시한 사항을 잘 준수하면 됩니다.
                    참고로 복용하는 약의 위장장애 여부 및 약의 인체내 흡수와 관계되는 소화기관내의 PH(산성의 정도를 나타내는 수치 단위)정도, 그리고 인체의 생체리듬에 따라 다음과 같은 복용 시간대로 크게 나누어 볼 수 있습니다.</p>
                <br>
                <h6>식후 30분 </h6>
                <p>글자 그대로 식사 후 30분 뒤에 복용하는 것입니다. 섭취한 음식이 위점막을 보호하기 때문에 복용 한 약의 위점막에 대한 자극이 적습니다. 약의 복용방법은 대부분이 식후이며, 약의 복용을 잊지 않게 하는 장점이 있습니다.</p>
                <h6>식후 즉시</h6>
                <p>철분제제 등 위장장해가 있는 약이나, 소화기관내의 식사직후 PH가 약물흡수를 더 용이하게 할 경우(예:일부 항진균제)는 식사직후에 복용하게 됩니다.</p>
                <h6>식간</h6>
                <p>음식물이 소화된 후 공복을 느끼는 시간대 즉 공복시에 복용하는 것입니다. 대체로 식사 후 1시간부터 다음 식사전 1시간 사이에 복용하시면 됩니다.</p>
                <h6>식전 30분</h6>
                <p>식욕을 증진시키는 약이나 구토를 억제하는 약 식사에 의해 약의 흡수가 방해되는 약(예:결핵에 사용하는 리팜피신) 등은 이 시간대에 복용하게 됩니다.</p>
                <h6>매()시간마다 복용</h6>
                <p>식사여부에 관계없이 일정간격으로 복용해야 하는 경우입니다. 이렇게 지시되는 대부분의 약(예:항 생제나 화학요법제)들은 인체내 약물의 농도가 일정하게 유지 되어야 할 필요가 있는 경우의 것입 니다. 양약뿐 아니라 한약의 경우에도 이런 것은 마찬가지로 해당됩니다.</p>
                <h6>기타 지시된 시간</h6>
                <p>(예:취침전,식전 20분,아침식사후 등등)이나 1일 ( )회 복용의 지시가 있는 경우 인체의 생리리듬과 약물의 인체내 혈중반감시간 등을 고려하여 지시하는 약의 경우이므로 지시에 충실히 따르면 됩니다.</p>
                <h6>약 먹는것을 잊어버렸을 때</h6>
                <p>약 먹는 시간을 놓쳤을 때는 생각난 즉시 복용하도록 하나, 단 다음 복용시간이 가까운 경우에는 미루도록 합니다. 2회분을 연속적으로 복용하거나 동시에 먹어서는 안됩니다.</p>


                </div>
            </div>
        </div>
    </div>


    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>