<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/01_link :: linkFragment"></th:block>

<style>
    h4{
        color: #75b239;
    }
    p{
        color:#000000;
    }
</style>

<body>

<div class="site-wrap">


    <th:block th:replace="layout/02_header :: headerFragment"></th:block>

    <div class="bg-light py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Tips</strong></div>
            </div>
        </div>
    </div>

    <br>


    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2><strong class="text-primary">약 유통기한 🕒</strong></h2>
            </div>
        </div>
    </div>

    <br>


    <div class="container">
        <div class="row">
            <div class="p-3 p-lg-5 border">
                <p>아이가 열이 나서 해열제를 찾습니다. 시럽 약인데 사 놓은 지는 꽤 됐고 여러 번 사용했던 약입니다. 다행히 유효기간이 지나진 않았네요. 사용해도 아무런 문제는 없는 걸까요..?</p>
                <br>
                <br>
                <div>
                    <h4>안전성에 효능까지 보장하는 기간</h4>
                    <p>약에도 당연히 식품의 유통기한과 같은 개념인 유효기간이 있습니다. '유효기한'이라고도 하고 '사용기한'이라고도 합니다. 식품은 먹어도 괜찮은, 즉 안전성을 가리키는 개념이라면 약에는 안전성 외에 유효성이라는 다른 개념이 하나 더 붙습니다. 유효성은 약의 효능이 보존되는지도 확인하는 개념입니다. 그래서 의약품의 유효기간은 효능과 안전성을 보장하는 날짜를 말합니다.</p>
                    <br>
                    <h4>유효기간이 지난 약의 사용 가능 여부</h4>
                    <p> 유효기간이 지나도 아무런 문제가 없을 수 있고 괜찮을 수 있습니다. 하지만 전문가들은 "유효기간이 지난 약은 사용하지 말 것"을 권고합니다. 실제로 세계 최고의 권위를 갖는 의약품국제규제협의체인 ‘국제의약품규제조화위원회(ICH)'는 약의 유효기간(사용기한)을 "의약품의 용기·포장에 표시된 날짜로서 해당 제품이 허가(신고)된 저장 방법에 따라 보관됐을 때 허가(신고)된 품질이 유지될 것으로 예상되는 기한"으로 정의하고 "이 기한이 경과한 뒤에는 해당 제품을 사용해서는 안 되는 날짜"라고 못 박고 있습니다.</p>
                    <br>
                    <h4>유효기간이 설정되는 과정</h4>
                    <p>의약품의 유효기간은 식품의약품안전처가 고시한 '의약품 등의 안정성시험 기준'에 따른 안정성 시험 중 장기보존시험을 기준으로 정해집니다. 이 시험을 통해서 약의 유효성과 안전성이 아무런 이상 없이 보존되는 최소한의 기간을 알아내게 됩니다. 그리고 제약사는 이 기간에서 실온보관 의약품은 최대 2배, 냉장보관의약품은 최대 1.5배까지 신청이 가능합니다. 허가·표기된 유효기간에는 이런 부분이 이미 반영됐다고 볼 수 있습니다. 이런 시험을 통해 유효성분의 함량 기준이 95~105%를 유지할 수 있는 기간을 통상적으로 유효기간으로 선정하게 되고 이는 일반적으로 대략 2~3년 정도입니다.</p>
                    <br>
                    <h4>약을 개봉하면 달라지는 유효기간</h4>
                    <p>중요한 건 제품에 명시된 유효기간은 개봉하기 전 상태에서의 유효기간이라는 것입니다. 즉 개봉 후에는 사용가능기간이 달라집니다. 여기선 언제 개봉했느냐가 중요한 포인트입니다. 개봉의 개념은 약이 포장된 상태에서 처음으로 외부 공기와 접촉한 시점으로 보면 됩니다. 경우에 따라선 제품에 개봉 후 사용가능기간까지 명시돼 있는 경우가 있지만 대부분은 없습니다.</p>
                    <p>한국병원약사회 질향상위원회에서는 '의료기관 내 개봉 의약품 관리 지침'을 마련하고 이를 준수하도록 권고하고 있습니다. 병원에서 원내 조제(처방약)에 쓰이는 약이 대부분 대용량 용기에서 환자별로 조제하는 경우가 많기 때문입니다. 즉 우리가 병원에서 처방받아 약국에서 타오는 약(조제약)도 유효기간 개념이 아닌 개봉 후 사용가능기간의 개념이 적용됩니다.</p>
                    <p>개봉 후 사용가능기간은 당연히 약의 제형과 종류에 따라 달라집니다. '의료기관 내 개봉 의약품 관리 지침'에 따르면 경구용 약의 경우, 병에 많이 든 알약은 1년, 다량이 든 시럽 병은 6개월, 나눠 담긴 시럽 병은 1개월, 가루약은 제조한 날부터 6개월, 연고제도 6개월을 개봉 후 사용가능기간으로 제시하고 있습니다.</p>
                    <br>
                    <h4>제형별 품질 확인 요소</h4>
                    <br>
                    <table>
                        <tr>
                            <th class="text-black">정제 및 캡슐 제형</th>
                            <th class="text-black">시럽제</th>
                        </tr>
                        <tr>
                            <td>- 부서지거나 금이 가 있는 경우</td>
                            <td>- 가스가 발생한 것이 확인되는 경우</td>
                        </tr>
                        <tr>
                            <td>- 수분이나 가스로 인해 외형이 변형된 경우</td>
                            <td>- 내용물이 균일하지 않고 덩어리가 있는 경우</td>
                        </tr>
                        <tr>
                            <td>- 코팅이 녹아 얼룩이 생기거나 변색이 된 경우</td>
                            <td>- 변색이 된 경우</td>
                        </tr>
                        <tr>
                            <td>- 서로 달라붙어 덩어리를 이루고 있는 경우</td>
                            <td>- 오염이 의심될 경우</td>
                        </tr>
                        <tr>
                            <th class="text-black">외용제(크림,연고,좌제 등)</th>
                            <th class="text-black">가루제형</th>
                        </tr>
                        <tr>
                            <td>- 약액의 상태가 균일하지 않은 경우</td>
                            <td>- 변색이 된 경우</td>
                        </tr>
                        <tr>
                            <td>- 내용물이 굳어 덩어리가 된 경우</td>
                            <td>- 액체가 과도하게 분리된 경우</td>
                        </tr>
                        <tr>
                            <td>- 결정이 생기거나 농도의 변화, 변색이 발생한 경우</td>
                        </tr>
                        <tr>
                            <td>- 연화되어 형체가 변형되거나 너무 딱딱하게 굳은 경우(좌제)</td>
                        </tr>
                        <tr>
                            <td>-오염이 의심될 경우</td>
                        </tr>
                    </table>
                    <br>
                    <h4>약의 유효기간을 지키는 좋은 습관</h4>
                    <p>1. 연고제나 시럽제 등은 용기나 박스 포장에 개봉날짜 표기</p>
                    <p>2. 블리스터 포장된 정제나 캡슐제는 사용한 부분 떼어내지 않기</p>
                    <p>3. 처방/조제 약은 가급적 처방 기간내에 복용하기</p>
                    <p>4. 약은 25도이하(냉장보관이 필요한 약은 2~8도), 습도 60%이하에서 보관하기</p>
                </div>
            </div>
        </div>
    </div>


    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>