<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/01_link :: linkFragment"></th:block>

<style>
    h4{
        color: #75b239;
    }
    p{
        color:#000000;
    }
</style>

<body>

<div class="site-wrap">


    <th:block th:replace="layout/02_header :: headerFragment"></th:block>

    <div class="bg-light py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Tips</strong></div>
            </div>
        </div>
    </div>

    <br>


    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2><strong class="text-primary">어린아이 약먹이기👶</strong></h2>
            </div>
        </div>
    </div>

    <br>


    <div class="container">
        <div class="row">
            <div class="p-3 p-lg-5 border">
                <p>"우유와 함께 먹여도 될까요?", "먹이려고 아무리 애를 써도 도로 뱉는데..." "식후복용으로 되어 있어 그대 로 먹였더니 토하고 나서 먹지 않는데 어떻게..." 등 근심 어린 표정으로 문의를 해오는 어머니들이 많다. 소아는 저항력이 약해서 쉽게 병에 걸리는 반면, 쓴 맛의 약먹기를 거부하거나 억지로 먹여도 토해 내는 경우가 많다. 또한 콩팥의 약물대사 능력이 낮아서 적은 양의 약물로도 쉽게 부작용이 나타나 기도 한다. 따라서 소아의 경우에는 어머니가 병에 대한 지식과 올바른 약의 복용법을 알아 효과적인 치료가 될 수 있도록 해야 한다</p>
                <br>
                <br>
                <div>
                    <h4> 복용횟수와 시간</h4>
                    <p>하루 3~4번의 정확한 복용은 규칙적인 생활을 하는 어른들의 경우에도 매우 어려운 일이다. 그러므로 소아는 약을 복용시키는 보호자와 소아자신의 생활리듬을 고려해 복용방법을 정하는 것이 좋다. 또 소아는 위장이 아직 충분하게 성숙되지 않아 구토를 잘 일으키고 식후에는 배가 불러 약먹기를 거부하므로 식사 직전에 먹이는 것이 좋으며 자극성이 강한 약일 경우에는 약먹은 후에 우유를 먹이도록 한다.</p>
                    <h4>가루약 먹이기</h4>
                    <p>가루약은 쓴맛과 나쁜 냄새 때문에 그냥 먹이기는 어렵다. 유아의 경우에는 소량의 물에 개어 젖 꼭지에 발라서 먹이거나 입 윗천정에 바르고 쥬스나 우유를 먹인다. 또한 평소에 자주 마셔보지 못 한 쥬스나 과즙, 벌꿀 등에 섞어서 먹이면 쉽게 먹게 된다. 목이 마를 때 먹이는 것도 한 방법이다</p>
                    <h4>액제(시럽제) 먹이기</h4>
                    <p>감기에 먹는 시럽제의 경우, 증상에 따라 다른 약을 섞어 먹일 때가 있는데 이때에는 먹이기 전에 흔들어서 약이 충분하게 섞이도록 해야 하는데 지나치게 흔들면 거품 때문에 정확한 양을 재기가 어려우므로 주의를 해야 한다. 또 대부분의 시럽제는 감미료와 방향료가 들어있어 맛이 좋으므로 어른들이 없을 때 어린이가 전부 먹어버리는 경우가 있으므로 보존에 각별히 신경을 써야 하는데, 냉장고에 보존할 때에는 종이봉지 같은 데에 넣어 잘 보이지 않게 숨겨 두도록 한다.</p>
                    <h4>정제와 캅셀제 먹이기</h4>
                    <p>정제나 캅셀제는 입안이나 목에 걸리는 경우가 있으므로 물을 미리 머금게 하여 약을 먹이고, 삼키고 나서도 물을 많이 먹이는 것이 좋다. 3세 이하의 어린이는 본인이 삼킬 수 있다 하더라도 먹이지 않는 것이 좋다.</p>
                    <h4>좌제 사용법</h4>
                    <p>변이 정체되어 있는 상태에서 좌제를 사용하면 변과 좌제가 함께 배출되는 일이 있으므로 가급적 이면 배변후에 굵은 쪽부터 항문 깊숙히 넣어 준다. 좌제는 사용후 15분이 지나야 녹으며 충분히 삽입한 것 같아도 수 분 후 항문에서 빠져나가는 일도 있으며 나이가 든 아이는 이물감 때문에 꺼내버리는 일도 있으므로 삽입한 후 15분 정도는 어른이 지켜보아야 한다.</p>
                    <h4>약 잘 먹이는 요령</h4>
                    <p>1. 약을 달게 해서 먹인다. 설탕을 타도 약효는 전혀 줄어들지 않는다. 아이들이 먹는 시럽에는 애초 부터 50%쯤 설탕이 들어 있다. 쵸코시럽, 설탕시럽, 콜라처럼 아이들이 잘 먹는 것은 무엇이든 괜찮다. 좋아하는 잼에 가루약을 개어 먹이는 것도 한 방법이다.</p>
                    <p>2. 우유는 섞어서 먹이지 않는 것이 좋다. 아주 어린 아기라면 문제가 없지만, 맛을 분간 할 줄 아는 아이에게 약을 탄 우유를 먹이면, 나중엔 우유까지 먹기를 거부하게 된다.</p>
                    <p>3. 약을 토하면 즉시 다시 먹여야 한다. 부모들은 아기가 토하느라 고생했다고 생각해 조금있다 먹이는 일이 많다. 그러나 토한 직후에는 뇌에 있는 구토중추가 피로해져서 구토능력이 상실되지만, 조금지나면 다시 회복돼 또 토하게 된다. 때문에 토하면 즉시 다시 먹여야 한다.</p>
                    <p>4. 약은 한 숟가락에 단번에 먹여야 한다. 두번, 세번 나눠 먹이면 아무리 달래도 두번째부터는 약먹기를 거부한다.</p>
                    <p>5. 가루약은 물 위에 뜨지 않고 완전히 개어 먹여야 한다. 성가시다고 대강하면 가루가 폐로 흩어져 들어가 기침이 나고, 기침을 하면서 토하게 된다.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>