<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="layout/01_link :: linkFragment"></th:block>

<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black"> Custom </strong>
                </div>
            </div>
        </div>
    </div>

    <br>


    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-2 navibar">
                <ul>
                    <li><a href="custom">상처/흉터</a></li>
                    <li><a href="custom_flu">감기약</a></li>
                    <li><a href="custom_home">가정상비약</a></li>
                    <li><a href="custom_period">월경통약</a></li>
                    <li><a href="custom_vitamin">영양제</a></li>
                </ul>
            </div>
            <div class="col-lg-10">
                <div class="container">
                    <div class="row mb-5">
                        <form class="col-md-12" method="post">
                            <div class="site-blocks-table">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="100">카테고리</th>
                                        <th width="150">상품이미지</th>
                                        <th width="150">상품명</th>
                                        <th width="120">가격</th>
                                        <th width="380">상세설명</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>감기약</td>
                                        <td class="product-thumbnail">
                                            <img src="images/F20.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">타이레놀</h2>
                                        </td>
                                        <td>2500원</td>
                                        <td>
                                            <p>해열진통소염제</p>
                                            <p>몸살,인후통,열과같은 증상에 도움을 준다. 하지만 과다 복용시 간손상에 주의해야 한다. </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>감기약</td>
                                        <td class="product-thumbnail">
                                            <img src="images/F01.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">게보린</h2>
                                        </td>
                                        <td>4000원</td>
                                        <td>
                                            <p>해열진통소염제</p>
                                            <p>몸살,인후통,열,오한,근육통 등의 증상에 도움을 준다. 공복시 약 복용을 피해야 하며 15세 미만의 소아는 급여를 권장하지 않는다.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>감기약</td>
                                        <td class="product-thumbnail">
                                            <img src="images/F15.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">지르텍</h2>
                                        </td>
                                        <td>3500원</td>
                                        <td>
                                            <p>항히스타민제</p>
                                            <p>콧물을 동반한 감기증상에 도움을 준다.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>감기약</td>
                                        <td class="product-thumbnail">
                                            <img src="images/F11.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">액티비드정</h2>
                                        </td>
                                        <td>3000원</td>
                                        <td>
                                            <p>항히스타민제</p>
                                            <p>콧물을 동반한 감기증상에 도움을 준다.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>감기약</td>
                                        <td class="product-thumbnail">
                                            <img src="images/F03.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">뮤코펙트</h2>
                                        </td>
                                        <td>3000원</td>
                                        <td>
                                            <p>진해거담제</p>
                                            <p>기침.가래 증상에 도움을 준다.</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tr>
                                        <td>감기약</td>
                                        <td class="product-thumbnail">
                                            <img src="images/F23.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">화이투벤씨플러스</h2>
                                        </td>
                                        <td>3000원</td>
                                        <td>
                                            <p>종합감기약</p>
                                            <p>알약형태이며 콧물,코막힘,재채기,인후통,기침,가래,오한,발열,두통,관절통,근육통증상에 도움을 준다</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>감기약</td>
                                        <td class="product-thumbnail">
                                            <img src="images/F21.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">판피린에프</h2>
                                        </td>
                                        <td>2500원</td>
                                        <td>
                                            <p>종합감기약</p>
                                            <p>액체형태이며 콧물,코막힘,재채기,인후통,기침,가래,오한,발열,두통,관절통,근육통증상에 도움을 준다</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>