<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="layout/01_link :: linkFragment"></th:block>

<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black"> Custom </strong>
                </div>
            </div>
        </div>
    </div>

    <br>


    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-2 navibar">
                <ul>
                    <li><a href="custom">상처/흉터</a></li>
                    <li><a href="custom_flu">감기약</a></li>
                    <li><a href="custom_home">가정상비약</a></li>
                    <li><a href="custom_period">월경통약</a></li>
                    <li><a href="custom_vitamin">영양제</a></li>
                </ul>
            </div>
            <div class="col-lg-10">
                <div class="container">
                    <div class="row mb-5">
                        <form class="col-md-12" method="post">
                            <div class="site-blocks-table">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="150">상품이미지</th>
                                        <th width="150">상품명</th>
                                        <th width="120">가격</th>
                                        <th width="380">상세설명</th>
                                        <th width="100">구매</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="images/Z33.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">텐텐츄정</h2>
                                        </td>
                                        <td>20000원</td>
                                        <td>
                                            <p>어린이 영양제</p>
                                            <p>비타민 A,B1,B2,B6,C,D,E를 함유하고 있으며, 성장발육기에 도움을 준다.</p>
                                        </td>
                                        <td><a href="#" class="btn btn-primary height-auto btn-sm">+</a></td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="images/Z53.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">고려은단비타민C</h2>
                                        </td>
                                        <td>28900원</td>
                                        <td>
                                            <p>여성영양제</p>
                                            <p>햇빛.피부병에 의한 색소침착에 효과를 보이며, 임신.수유기 및 병중 병후의 체력저하와 육체피로에 도움을 준다.</p>
                                        </td>
                                        <td><a href="#" class="btn btn-primary height-auto btn-sm">+</a></td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="images/Z54.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">비맥스골드</h2>
                                        </td>
                                        <td>55000원</td>
                                        <td>
                                            <p>남성영양제</p>
                                            <p>비타민 B1,B2,B6,C,D,E를 함유하며, 신경통 근육통, 관절통, 구각염, 구순염, 구내염, 눈의피로 등에 도움을 준다.</p>
                                        </td>
                                        <td><a href="#" class="btn btn-primary height-auto btn-sm">+</a></td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="images/Z04.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">우루사</h2>
                                        </td>
                                        <td>40000원</td>
                                        <td>
                                            <p>남성영양제</p>
                                            <p>만성 간질환의 간기능 개선 및 간기능 장애에 의한 육체피로, 전신권태 등에 도움을 준다.</p>
                                        </td>
                                        <td><a href="#" class="btn btn-primary height-auto btn-sm">+</a></td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="images/Z57.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">훼라민큐</h2>
                                        </td>
                                        <td>35000원</td>
                                        <td>
                                            <p>중년여성 영양제</p>
                                            <p>홍조와 땀이 나는 갱년기증상을 완화시켜주며 불면, 불안, 우울증상에 도움을 줌</p>
                                        </td>
                                        <td><a href="#" class="btn btn-primary height-auto btn-sm">+</a></td>
                                    </tr>
                                    <tr>
                                    <td class="product-thumbnail">
                                        <img src="images/Z58.jpg" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h6 text-black">레미페민</h2>
                                    </td>
                                    <td>35000원</td>
                                    <td>
                                        <p>중년여성 영양제</p>
                                        <p>홍조,발한(땀이 남), 수면장애 등 갱년기에 의한 정신적 자율신경적 증상에 도움을 준다.</p>
                                    </td>
                                    <td><a href="#" class="btn btn-primary height-auto btn-sm">+</a></td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="images/Z59.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">마인트롤</h2>
                                        </td>
                                        <td>35000원</td>
                                        <td>
                                            <p>중년남성 영양제</p>
                                            <p>불안, 무기력상태의 완화와 가볍고 일시적인 우울증상의 완화에 도움을 준다.</p>
                                        </td>
                                        <td><a href="#" class="btn btn-primary height-auto btn-sm">+</a></td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="images/Z55.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">폴시드</h2>
                                        </td>
                                        <td>18000원</td>
                                        <td>
                                            <p>임산부 영양제</p>
                                            <p>폴산결핍증의 예방 및 치료, 임부 및 수유부, 악성빈혈에 도움을 준다.</p>
                                        </td>
                                        <td><a href="#" class="btn btn-primary height-auto btn-sm">+</a></td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="images/Z56.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">볼그레</h2>
                                        </td>
                                        <td>25000원</td>
                                        <td>
                                            <p>임산부 영양제</p>
                                            <p>철 결핍성 빈혈에 도움을 준다.</p>
                                        </td>
                                        <td><a href="#" class="btn btn-primary height-auto btn-sm">+</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>