<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="layout/01_link :: linkFragment"></th:block>

<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black"> Custom </strong>
                </div>
            </div>
        </div>
    </div>

    <br>


    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-2 navibar">
                <ul>
                    <li><a href="#">두통</a></li>
                    <li><a href="#">복통</a></li>
                    <li><a href="#">요통</a></li>
                    <li><a href="#">생리통</a></li>
                </ul>
            </div>
            <div class="col-lg-10">
                <div class="container">
                    <div class="row mb-5">
                        <form class="col-md-12" method="post">
                            <div class="site-blocks-table">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="product-thumbnail">상품이미지</th>
                                        <th class="product-name">상품명</th>
                                        <th class="product-price">가격</th>
                                        <th class="product-description">상세설명</th>
                                        <th class="product-add">구매</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="images/아로나민.jpg" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h6 text-black">아로나민</h2>
                                        </td>
                                        <td>12000원</td>
                                        <td>효과빠른 좋은 약</td>
                                        <td><a href="#" class="btn btn-primary height-auto btn-sm">+</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>