<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="layout/01_link :: linkFragment"></th:block>


<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>


    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black"> Mypage </strong>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>


    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-12">
                <h2 class="h3 mb-5 text-black" style="padding-left: 230px;">Order details</h2>
            </div>
            <th:block th:replace="layout/06_mypage :: mypageFragment"></th:block>
            <div class="col-lg-10">
                <div class="container">
                    <div class="row mb-5">
                        <form class="col-md-12" method="post">

                            <div class="site-blocks-table">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="200;">상품이미지</th>
                                        <th>주문내역</th>
                                        <th width="150;">주문상태</th>
                                    </tr>
                                    </thead>

                                    <tbody id="site-section">

                                    <!--소켓-->

                                    </tbody>

                                </table>
                            </div>

                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <br>

    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>
<script>
    const uri = "ws://localhost:8080/userWebSocket"
    const websocket = new WebSocket(uri)

    websocket.onopen = function (event) {
        websocket.send(":" + sessionStorage.getItem("id"))
    }
    websocket.onclose = function (event) {

    }
    websocket.onmessage = function (event) {
        const container = document.getElementById("site-section")

        container.innerHTML = event.data
    }

    function youngseo(order_no) {
        websocket.send(order_no)
    }
</script>
</html>