<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="layout/01_link :: linkFragment"></th:block>


<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>


    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black"> Mypage </strong>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>


    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-12">
                <h2 class="h3 mb-5 text-black" style="padding-left: 230px;">Order details</h2>
            </div>
            <th:block th:replace="layout/06_mypage :: mypageFragment"></th:block>
            <div class="col-lg-10">
                <div class="container">
                    <div class="row mb-5">
                        <form class="col-md-12" method="post">
                            <div class="site-blocks-table">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="200;">상품이미지</th>
                                        <th>주문내역</th>
                                        <th width="150;">주문상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="images/product_02.png" alt="Image" class="img-fluid">
                                        </td>
                                        <td>
                                            <p>상품명 : 이부로펜 외2</p>
                                            <p>가격 : 29000원</p>
                                            <p>일시 : 2020.10.29 16:05시</p>
                                            <br>
                                            <div class="border mb-2">
                                                <h3 class="h6 mb-0"><a class="d-block" style="padding:20px;" data-toggle="collapse" href="#collapsepaypal" role="button"
                                                                       aria-expanded="false" aria-controls="collapsepaypal">약사의 말 한마디</a></h3>

                                                <div class="collapse" id="collapsepaypal">
                                                    <div class="py-2 px-4">
                                                        <p class="mb-0">따듯한 물을 자주 마시는게 좋습니다.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>배송중</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <br>

    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>