<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/01_link :: linkFragment"></th:block>



<body>
/**/
<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black"> Mypage </strong>
                </div>
            </div>
        </div>
    </div>

    <br>


    <div class="container" style="padding-left:40px;">
        <div class="row justify-content-between">
            <div class="col-lg-2 navibar">
                <ul>
                    <li><a href="mypage">개인정보</a></li>
                    <li><a href="mp_cart">장바구니</a></li>
                    <li><a href="mp_history">주문내역</a></li>
                    <li><a href="mp_delete">회원탈퇴</a></li>
                </ul>
            </div>
            <div class="col-lg-10">
                <div class="container" style="padding-left:40px;">
                    <div class=" form-group row" style="padding:50px; border:1px solid #f3f3f3;">
                        <div>
                            <image src="images/m_profile.jpg" width="150px" height="150px"></image>
                        </div>
                        <div class="col-lg-7" style="padding-left: 50px;">
                            <form class="form-horizontal">
                                <div class="form-group ">
                                    <label for="user_id" class="col-sm-5 control-label">아이디</label>
                                    <div class="col-lg-25">
                                        <input class="form-control" type="text" id="user_id" placeholder="pampam22"
                                               disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user_pw" class="col-sm-5 control-label">비밀번호</label>
                                    <div class="col-lg-25">
                                        <input class="form-control" id="user_pw" type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user_name" class="col-sm-5 control-label">이름</label>
                                    <div class="col-lg-25">
                                        <input class="form-control" type="text" id="user_name" placeholder="홍길동"
                                               disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user_phone" class="col-sm-5 control-label">핸드폰 번호</label>
                                    <div class="col-lg-25">
                                        <input class="form-control" type="text" id="user_phone"
                                               placeholder="010-0000-0000">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user_email" class="col-sm-5 control-label">이메일</label>
                                    <div class="col-lg-25">
                                        <input class="form-control" type="text" id="user_email"
                                               placeholder="member1@email.com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user_adr" class="col-sm-5 control-label">주소</label>
                                    <div class="col-lg-25">
                                        <input class="form-control" type="text" id="user_adr" placeholder="서울특별시 OO구">
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0"><a href="mypage" class="justify-content-between">수정완료</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>