<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="layout/01_link :: linkFragment"></th:block>


<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>


    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">Shop</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="bg-light rounded p-3">
                        <p class="mb-0">더 구매하실 것이 남아있다면 <a href="shop" class="d-inline-block"> 여기</a>를 눌러 물건을 더 담아보세요!
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6 mb-5 mb-md-0">

                    <h2 class="h3 mb-3 text-black">주문서</h2>

                    <form name="orderform" action="#" method="post">
                        <div class="p-3 p-lg-5 border">

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="order_user_id" class="text-black">주문자 아이디<span class="text-danger">*</span></label>
                                    <p th:text="${id}" class="form-control" id="order_user_id" name="order_user_id"></p>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top: -25px;">
                                <div class="col-md-6">
                                    <label for="order_name" class="text-black">이름<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="order_name" name="order_name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="order_adr1" class="text-black">주소 <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="order_adr1" name="order_adr1"
                                           placeholder="시,군,구 (도로명)">
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top: -35px;">
                                <div class="col-md-12">
                                    <label for="order_adr2"></label>
                                    <input type="text" class="form-control" id="order_adr2" name="order_adr2" placeholder="세부주소">
                                </div>
                            </div>

                            <div class="form-group row mb-5">
                                <div class="col-md-12">
                                    <label for="order_phone" class="text-black">핸드폰 번호<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="order_phone" name="order_phone" placeholder="-없이 작성해주세요.">
                                </div>
                            </div>

                            <div class="form-group row mb-5" style="margin: -30px -13px -40px;">
                                <div class="col-md-12">
                                    <label for="order_pharm" class="text-black">약국선택<span class="text-danger">*</span></label>
                                </div>
                                <div class="col-md-12">
                                    <select id="order_pharm" class="order_pharm" name="order_pharm">
                                        <option value="none">===선택===</option>
                                        <option value="영서약국"> 영서약국</option>
                                        <option value="소현약국"> 소현약국</option>
                                        <option value="예지약국"> 예지약국</option></select>
                                </div>
                                </th:>
                            </div>


                            <div class="form-group" style="margin-top: -35px;">
                                <label for="order_msg" class="text-black">주문 메세지</label>
                                <textarea name="order_msg" id="order_msg" cols="30" rows="5" class="form-control"
                                          placeholder="약사님께 전할 말이 있으시면 작성해주세요."></textarea>
                            </div>

                            <div class="form-group row">
                                <input type="button" class="btn btn-primary btn-lg btn-block" id="orderBtn" value="주문완료">
                            </div>

                        </div>

                    </form>

                </div>

                <div class="col-md-6">

                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">주문 내역</h2>
                            <div class="p-3 p-lg-5 border">
                                <table class="table site-block-order-table mb-5">
                                    <thead>
                                    <th>상품</th>
                                    <th>총 합</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>신신파스<strong class="mx-2">x</strong> 1</td>
                                        <td>2600원</td>
                                    </tr>
                                    <tr>
                                        <td>락토핏 <strong class="mx-2">x</strong> 1</td>
                                        <td>9900원</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>장바구니 총 금액</strong></td>
                                        <td class="text-black">12500원</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>최종 금액</strong></td>
                                        <td class="text-black font-weight-bold"><strong>12500원</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                                <div class="border mb-3">
                                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque"
                                                           role="button"
                                                           aria-expanded="false" aria-controls="collapsecheque">신용카드</a>
                                    </h3>

                                    <div class="collapse" id="collapsecheque">
                                        <div class="py-2 px-4">
                                            <p class="mb-0">준비중</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="border mb-5">
                                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal"
                                                           role="button"
                                                           aria-expanded="false" aria-controls="collapsepaypal">무통장
                                        입금</a></h3>

                                    <div class="collapse" id="collapsepaypal">
                                        <div class="py-2 px-4">
                                            <p class="mb-0">준비중</p>
                                        </div>
                                    </div>
                                </div>
<!--btn-->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>