<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/01_link :: linkFragment"></th:block>


<body>
/**/
<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>


    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">Shop</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="bg-light rounded p-3">
                        <p class="mb-0">더 구매하실 것이 남아있다면 <a href="shop" class="d-inline-block"> 여기</a>를 눌러 물건을 더 담아보세요!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                    <h2 class="h3 mb-3 text-black">주문서</h2>
                    <div class="p-3 p-lg-5 border">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="user_name" class="text-black">이름<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="user_name" name="user_name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="c_address" class="text-black">주소 <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_address" name="c_address"
                                       placeholder="시,군,구 (도로명)">
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="세부주소">
                        </div>

                        <div class="form-group row mb-5">
                            <div class="col-md-12">
                                <label for="c_phone" class="text-black">핸드폰 번호<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_phone" name="c_phone"
                                       placeholder="-없이 작성해주세요.">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="c_order_notes" class="text-black">주문 메세지</label>
                            <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control"
                                      placeholder="약사님께 전할 메세지가 있으시면 작성해주세요."></textarea>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">

                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">쿠폰 코드</h2>
                            <div class="p-3 p-lg-5 border">

                                <label for="c_code" class="text-black mb-3">가지고 계신 쿠폰이 있으시면 이곳에 적어주세요.</label>
                                <div class="input-group w-75">
                                    <input type="text" class="form-control" id="c_code" placeholder="Coupon Code"
                                           aria-label="Coupon Code"
                                           aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-sm px-4" type="button" id="button-addon2">
                                            적용
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">주문 내역</h2>
                            <div class="p-3 p-lg-5 border">
                                <table class="table site-block-order-table mb-5">
                                    <thead>
                                    <th>상품</th>
                                    <th>총 합</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>신신파스<strong class="mx-2">x</strong> 1</td>
                                        <td>2600원</td>
                                    </tr>
                                    <tr>
                                        <td>락토핏 <strong class="mx-2">x</strong> 1</td>
                                        <td>9900원</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>장바구니 총 금액</strong></td>
                                        <td class="text-black">12500원</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>최종 금액</strong></td>
                                        <td class="text-black font-weight-bold"><strong>12500원</strong></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="border mb-3">
                                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque"
                                                           role="button"
                                                           aria-expanded="false" aria-controls="collapsecheque">신용카드</a>
                                    </h3>

                                    <div class="collapse" id="collapsecheque">
                                        <div class="py-2 px-4">
                                            <p class="mb-0">준비중</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="border mb-5">
                                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal"
                                                           role="button"
                                                           aria-expanded="false" aria-controls="collapsepaypal">무통장
                                        입금</a></h3>

                                    <div class="collapse" id="collapsepaypal">
                                        <div class="py-2 px-4">
                                            <p class="mb-0">준비중</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary btn-lg btn-block"
                                            onclick="window.location='thankyou'">주문 완료
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>