<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/01_link :: linkFragment"></th:block>

<head>
    <meta charset="UTF-8">
    <title>기운팜팜</title>
</head>
<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_pharmrider_header :: pharmriderheaderFragment"></th:block>


    <div class="py-4">
        <div class="container">
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="title-section text-center col-12">
                    <h2>주문 알림<strong>✔</strong></h2>
                </div>
            </div>
            <table class="table table-bordered">

                <tbody id="site-section">

                <!--소켓-->
                <div class="site-section  overlay" style="max-height: 1000px; background-color: white; padding:40px 20px; overflow:scroll; overflow-x:hidden">
                </div>

                </tbody>

            </table>

            </div>
        </div>

    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>
<script>
    const uri = "ws://localhost:8080/pharmacistWebSocket"
    const websocket = new WebSocket(uri)

    websocket.onopen = function (event) {

    }
    websocket.onclose = function (event) {

    }
    websocket.onmessage = function (event) {

        const container = document.getElementById("site-section")

        container.innerHTML = event.data
    }

    function sendToRider(number, id, name, adr1, adr2, phone, omsg, prod, pmsg, time, s) {
        const pomsg = document.getElementById("pharm_msg").value

        websocket.send(number + "/"+ id + "/" + name + "/" + adr1 + "/" + adr2 + "/" + phone+ "/"+ omsg+ "/"+ prod+ "/" +pomsg+ "/" + time+ "/"+ s)
    }

    function fail(orderNo) {
        websocket.send(":" + orderNo)
    }

    function refund(orderNo) {
        websocket.send("#" + orderNo)
    }
</script>
</html>