<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/01_link :: linkFragment"></th:block>


<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>


    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index">Home</a> <span class="mx-2 mb-0">/</span>
                    <a href="login"><strong class="text-black">Login</strong></a><span class="mx-2
                mb-0">/</span><strong class="text-black">Register</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h3 mb-5 text-black">라이더 회원가입</h2>
                </div>
                <div class="col-md-12">

                    <form name="regiform" action="#" method="post">

                        <div class="p-3 p-lg-5 border">
                            <div class="p-3 p-lg-5 border">
                                <div class="form-group" style="padding-left: 250px;">
                                    <div class="form-group row">
                                        <div class="col-md-8">
                                            <label for="rider_id" class="text-black">아이디 <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="rider_id" name="rider_id"
                                                   required="required">
                                            <p class="btn"
                                               style="float: right; color:#75b239; padding:0px; margin:0px;">중복확인</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-8">
                                            <label for="rider_pw" class="text-black">비밀번호 <span
                                                    class="text-danger">*</span></label>
                                            <input type="password" class="form-control" id="rider_pw" name="rider_pw"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-8">
                                            <label for="rider_name" class="text-black">이름 <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="rider_name" name="rider_name"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-8">
                                            <label for="rider_phone" class="text-black">핸드폰번호 <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="rider_phone" name="rider_phone"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-8">
                                            <label for="rider_adr" class="text-black">주소 <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="rider_adr" name="rider_adr">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-8">
                                            <label for="license_no" class="text-black">운전면허증 번호 <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="license_no" name="license_no"
                                                   required="required">
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>



                                    <div class="form-group row">
                                        <div class="col-lg-6" style="padding-left: 150px;">
                                            <input type="button" id="riderRegiBtn" class="btn btn-primary btn-lg btn-block"
                                                   value="회원가입">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

<script src="js/HTTPRequest.js"></script>
</body>

</html>