<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/01_link :: linkFragment"></th:block>


<body>
/**/
<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>


    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index">Home</a> <span class="mx-2 mb-0">/</span>
                    <a href="login"><strong class="text-black">Login</strong></a><span class="mx-2
                mb-0">/</span><strong class="text-black">Register</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="p-3 p-lg-5 border">
                        <div style="text-align: center;">  <h3>회원유형선택</h3> </div>
                        <div class="row">
                            <div style="padding: 50px 150px; ">
                                <button class="regibutton" onclick="location.href='register'"> 회원</button>
                                <button class="regibutton" onclick="location.href='register_pharm'"> 약사</button>
                                <button class="regibutton" onclick="location.href='register_rider'"> 라이더</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

<script src="js/HTTPRequest.js"></script>


</body>

</html>