<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/01_link :: linkFragment"></th:block>


<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>


    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index">Home</a> <span class="mx-2 mb-0">/</span>
                    <a href="login"><strong class="text-black">Login</strong></a><span class="mx-2
                mb-0">/</span>Register</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h3 mb-5 text-black">약사 회원가입</h2>
                </div>
                <div class="col-md-12">

                    <form name="regiform" action="#" method="post">

                        <div class="p-3 p-lg-5 border">
                            <div class="form-group" style="padding-left: 250px;">
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <label for="pharm_id" class="text-black">아이디 <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="pharm_id" name="pharm_id"
                                               required="required">
                                        <p class="btn" id="pharmDuplicateBtn" style="float: right; color:#75b239; padding:0px; margin:0px;">
                                            중복확인</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <label for="pharm_pw" class="text-black">비밀번호 <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" id="pharm_pw" name="pharm_pw"
                                               required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="opentime" class="text-black">영업시간(00:00~24:00) <span
                                                class="text-danger">*</span></label>
                                        <input type="time" class="form-control" id="opentime" name="opentime"
                                               required="required">
                                    </div>
                                    <div style="padding-top:15px;"><br>~</div>
                                    <div class="col-md-4">
                                        <label for="closetime" class="text-white">close</label>
                                        <input type="time" class="form-control" id="closetime" name="closetime"
                                               required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <label for="pharm_name" class="text-black">약국 이름 <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="pharm_name" name="pharm_name"
                                               required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <label for="pharm_adr" class="text-black">약국 주소 <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="pharm_adr" name="pharm_adr"
                                               required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <label for="regi_no" class="text-black">약국 사업자번호 <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="regi_no" name="regi_no"
                                               required="required">
                                    </div>
                                </div>


                                <br>
                                <br>
                                <br>


                                <div class="form-group row">
                                    <div class="col-lg-6" style="padding-left: 150px;">
                                        <input type="button" id="pharmRegiBtn" class="btn btn-primary btn-lg btn-block"
                                               value="회원가입">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

<script src="js/HTTPRequest.js"></script>


</body>

</html>