<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="layout/01_link :: linkFragment"></th:block>

<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>


    <div class=" py-2 bg-image overlay " style="background-image: none">
        <div class="container">
            <div class="row">
                <div class="col-md-20 mb-0">
                    <a href="shop_heart"><span class="text-white">심장/신경</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_ent"><span class="text-white">이비인후과</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_eye"><span class="text-white">안과</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_urology"><span class="text-white">비뇨기과/항문</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_allergy"><span class="text-white">알레르기/구충제</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_tooth"><span class="text-white">치과</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_vitamin"><span class="text-white">비타민</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_etc"><span class="text-white">그 외</span></a><span class="mx-2 mb-0">|</span>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index">Home</a> <span class="mx-2 mb-0">/</span> <strong
                        class="text-black">Shop</strong></div>
            </div>
        </div>
    </div>


    <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">가격 순 정렬</h3>
                    <div id="slider-range" class="border-primary"></div>
                    <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled=""/>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter</h3>
                    <button type="button" class="btn btn-primary btn-md dropdown-toggle px-4" id="dropdownMenuReference"
                            data-toggle="dropdown">정렬
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        <a class="dropdown-item" href="#">인기순</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">상품명(오름차순)</a>
                        <a class="dropdown-item" href="#">상품명(내림차순)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">가격(오름차순)</a>
                        <a class="dropdown-item" href="#">가격(내림차순)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="title-section text-center col-12">
                    <h2>심장 <strong class="text-primary">/</strong>신경</h2>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
                    <a href="shop_single"> <img th:src="${img_uri}" width="200" height="400" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop_single" th:text="${prod_name}"></a></h3>
                    <p class="price">
                        <del th:text="${price}"></del>
                    </p>
                </div>

                <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
                    <a href="shop_single"> <img src="images/그날엔.jpg" width="200" height="400" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop_single">그날엔</a></h3>
                    <p class="price">4900원</p>
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
                    <a href="shop_single"> <img src="images/게보린.jpg" width="200" height="400" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop_single">게보린</a></h3>
                    <p class="price">5200원</p>
                </div>

                <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">

                    <a href="shop_single"> <img src="images/락토핏.jpg" width="200" height="400" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop_single">락토핏</a></h3>
                    <p class="price">
                        <del>13900원</del> &mdash; 9900원
                    </p>
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
                    <a href="shop_single"> <img src="images/아로나민.jpg" width="200" height="400" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop_single">아로나민</a></h3>
                    <p class="price">12000원</p>
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
                    <span class="onsale">Sale</span>
                    <a href="shop_single"> <img src="images/신신파스.jpg" width="200" height="400" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop_single">신신파스</a></h3>
                    <p class="price">
                        <del>7000원</del> &mdash; 5900원
                    </p>
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
                    <span class="onsale">Sale</span>
                    <a href="shop_single"> <img src="images/타이레놀.jpg" width="200" height="400" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop_single">타이레놀</a></h3>
                    <p class="price">
                        <del>5000원</del> &mdash; 3000원
                    </p>
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
                    <a href="shop_single"> <img src="images/그날엔.jpg" width="200" height="400" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop_single">그날엔</a></h3>
                    <p class="price">4900원</p>
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
                    <a href="shop_single"> <img src="images/게보린.jpg" width="200" height="400" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop_single">게보린</a></h3>
                    <p class="price">5200원</p>
                </div>

                <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">

                    <a href="shop_single"> <img src="images/락토핏.jpg" width="200" height="400" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop_single">락토핏</a></h3>
                    <p class="price">
                        <del>13900원</del> &mdash; 9900원
                    </p>
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
                    <a href="shop_single"> <img src="images/아로나민.jpg" width="200" height="400" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop_single">아로나민</a></h3>
                    <p class="price">12000원</p>
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
                    <span class="onsale">Sale</span>
                    <a href="shop_single"> <img src="images/신신파스.jpg" width="200" height="400" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop_single">신신파스</a></h3>
                    <p class="price">
                        <del>7000원</del> &mdash; 5900원
                    </p>
                </div>


            </div>
        </div>
    </div>

    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>