<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="layout/01_link :: linkFragment"></th:block>


<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>


    <div class=" py-2 bg-image overlay " style="background-image: none">
        <div class="container">
            <div class="row">
                <div class="col-md-20 mb-0">
                    <a href="shop_heart"><span class="text-white">심장/신경</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_ent"><span class="text-white">이비인후과</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_eye"><span class="text-white">안과</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_urology"><span class="text-white">비뇨기과/항문</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_allergy"><span class="text-white">알레르기/구충제</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_tooth"><span class="text-white">치과</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_flu"><span class="text-white">감기약</span></a><span class="mx-2 mb-0">|</span>
                    <a href="shop_etc"><span class="text-white">그 외</span></a><span class="mx-2 mb-0">|</span>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index">Home</a> <span class="mx-2 mb-0">/</span> <strong
                        class="text-black">Shop</strong><span class="mx-2 mb-0">/</span><strong
                        class="text-black">치과</strong></div>
            </div>
        </div>
    </div>


    <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">가격 순 정렬</h3>
                    <div id="slider-range" class="border-primary"></div>
                    <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled=""/>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter</h3>
                    <button type="button" class="btn btn-primary btn-md dropdown-toggle px-4" id="dropdownMenuReference"
                            data-toggle="dropdown">정렬
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        <a class="dropdown-item" href="#">인기순</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">상품명(오름차순)</a>
                        <a class="dropdown-item" href="#">상품명(내림차순)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">가격(오름차순)</a>
                        <a class="dropdown-item" href="#">가격(내림차순)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="title-section text-center col-12">
                    <h2>치과</h2>
                </div>
            </div>
            <div class="row">
                <div th:each="col:${list}" class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
                    <a th:href="@{${col.prodT_name}}"> <img th:src="${col.imgT_url}" width="200px;" height="250px;" style="margin:15px 0px;" alt="Image"></a>
                    <h3 class="text-dark"><a th:href="@{${col.prodT_name}}" th:text="${col.prodT_name}"></a></h3>
                    <p class="price" th:text="${col.priceT}"></p>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>