<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="layout/01_link :: linkFragment"></th:block>

<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index">Home</a> <span class="mx-2 mb-0">/</span> <strong
                        class="text-black">Shop</strong></div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="icon-check_circle display-3 text-primary"></span>
                    <h2 class="display-3 text-black">Thank you!</h2>
                    <p class="lead mb-5">성공적으로 주문이 완료되었습니다.</p>
                    <p><a href="index" class="btn btn-md height-auto px-4 py-3 btn-primary">메인페이지로 돌아가기</a></p>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>