<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/01_link :: linkFragment"></th:block>


<body>
/**/
<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>


    <div class="bg-light py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index">Home</a> <span class="mx-2 mb-0">/</span> <strong
                        class="text-black">Tips</strong></div>
            </div>
        </div>
    </div>

    <br>
    <br>


    <div class="site-section  overlay" style="background-image: url('images/pills_01.jpg');">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-7">
                    <h3 class="text-black"><b>컨텐츠1</b></h3>
                    <p class="text-black">test<br> test</p>
                    <p class="mb-0"><a href="#" class="justify-content-between">GO</a></p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="site-section  overlay" style="background-image: url('images/pills_01.jpg');">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-7">
                    <h3 class="text-black"><b>컨텐츠2</b></h3>
                    <p class="text-black">test<br> test</p>
                    <p class="mb-0"><a href="#" class="justify-content-between">GO</a></p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="site-section  overlay" style="background-image: url('images/pills_01.jpg');">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-7">
                    <h3 class="text-black"><b>컨텐츠3</b></h3>
                    <p class="text-black">test<br> test</p>
                    <p class="mb-0"><a href="#" class="justify-content-between">GO</a></p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="site-section  overlay" style="background-image: url('images/pills_01.jpg');">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-7">
                    <h3 class="text-black"><b>컨텐츠4</b></h3>
                    <p class="text-black">test<br> test</p>
                    <p class="mb-0"><a href="#" class="justify-content-between">GO</a></p>
                </div>
            </div>
        </div>
    </div>


    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>