<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="layout/01_link :: linkFragment"></th:block>
<style>
    h2{
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
        color: black;
    }
</style>

<body>

<div class="site-wrap">

    <th:block th:replace="layout/02_header :: headerFragment"></th:block>


    <div class="bg-light py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index">Home</a> <span class="mx-2 mb-0">/</span> <strong
                        class="text-black">Tips</strong></div>
            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2><strong class="text-primary">TIPS</strong></h2>
            </div>
        </div>
    </div>
    <br>

    <div class="col-md-12">
        <div class="site-section  overlay" style="background-image: url('images/pills_01.jpg'); background-size:cover; background-repeat: no-repeat;">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-7">
                        <h2><b>약 먹기 싫어하는 아이에게 약먹이는 방법</b></h2>
                        <br>
                        <h4 class="mb-0"><a href="contents_01" class="justify-content-between">GO</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="site-section  overlay" style="background-image: url('images/pills_02.jpg'); background-size:cover; background-repeat: no-repeat;">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8">
                        <h2 class="text-black"><b>임신 중 약 복용, 언제부터 태아에게 영향이 갈까?</b></h2>
                        <br>
                        <h4 class="mb-0"><a href="contents_02" class="justify-content-between">GO</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="site-section  overlay" style="background-image: url('images/pills_03.jpg'); background-size:cover; background-repeat: no-repeat;">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8">
                        <h2 class="text-black"><b>알고 있으면 도움되는 약복용에 관한 모든 정보!</b></h2>
                        <br>
                        <h4 class="mb-0"><a href="contents_03" class="justify-content-between">GO</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="site-section  overlay" style="background-image: url('images/pills_04.jpg'); background-size:cover; background-repeat: no-repeat;">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8">
                        <h2 class="text-black"><b>약이랑 절대 같이 먹으면 안되는 음식!</b></h2>
                        <br>
                        <h4 class="mb-0"><a href="contents_04" class="justify-content-between">GO</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="site-section  overlay" style="background-image: url('images/pills_05.jpg'); background-size:cover; background-repeat: no-repeat;">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8">
                        <h2 class="text-black"><b>이 약 먹어도 괜찮을까?에 대한 모든 정보!</b></h2>
                        <br>
                        <h4 class="mb-0"><a href="contents_05" class="justify-content-between">GO</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <th:block th:replace="layout/03_footer :: footerFragment"></th:block>

</div>

<th:block th:replace="layout/04_script :: scriptFragment"></th:block>

</body>

</html>