<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.pharmwebspring.DAO.CartDAO">
    <!-- 장바구니에 담기 -->
    <insert id="insert" parameterType="com.example.pharmwebspring.Model.Cart">
        insert into cart (user_id, cart_img_url, cart_prod_name, count_p, cart_prod_price, summoney, code)
        values
          (#{user_id}, #{cart_img_url}, #{cart_prod_name}, #{count_p}, #{cart_prod_price}, #{summoney}, #{code})
    </insert>

    <select id="listCart" resultType="com.example.pharmwebspring.Model.Cart">
        SELECT * from parmdb.cart
    </select>

    <delete id="delete">
        delete from cart where code=#{cart_code}
    </delete>

    <delete id="deleteAll">
        delete from cart where user_id=#{userid}
        <!-- 장바구니테이블로부터 회원의 아이디와 삭제하고자하는 회원의 아이디가 같으면 장바구니에 있는 자료를 전부다 삭제 -->
    </delete>


</mapper>
