<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.pharmwebspring.DAO.CartDAO">
    <!-- 장바구니에 담기 -->
    <insert id="insert" parameterType="com.example.pharmwebspring.Model.Cart">
        insert into cart (user_id, cart_img_url, cart_prod_name, count_p, cart_prod_price, summoney)
        values
          (#{user_id}, #{cart_img_url}, #{cart_prod_name}, #{count_p}, #{cart_prod_price}, #{summoney})
    </insert>

    <select id="listCart" resultType="com.example.pharmwebspring.Model.Cart">
        select * from parmdb.cart
    </select>

    <delete id="delete">
        delete from cart where cart_no=#{cart_no}
    </delete>
</mapper>
