<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.pharmwebspring.DAO.ProductDaoF">
    <select id = "listProductF" resultType = "com.example.pharmwebspring.Model.ProductF">
            select * from parmdb.product_f;
        </select>
    <select id="detailProductF" resultType="com.example.pharmwebspring.Model.ProductF">
                select * from product_f where prodF_name=#{prodF_name}
        </select>
</mapper>