<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.pharmwebspring.DAO.ProductDao">
<select id = "listProduct"
        resultType = "com.example.pharmwebspring.Model.Product">
<!-- 코드의 자료형을 알려준다 DTO타입으로 받아야 되므로 DTO파일의 경로를 입력. -->
<!-- 이 코드가 호출되면 ProductDTO가 arraylist로 저장됨 -->
        select * from parmdb.productpro;
<!-- id의 내림차순으로 검색한다. (id의 오름차순으로 검색 - 1,2,3,4,.....10) -->
</select>

        <select id="detailProduct" resultType="com.example.pharmwebspring.Model.Product">
                select * from productpro where prod_name=#{prod_name}
        </select>
</mapper>
